.cPageBody
  .cTopBox
    .cTopBar
      // JS 產生
    .cTopBar_phone
      // JS 產生
    .cBanner
      .cImage
        .cPreImage
        .cMainImage
        .cNextImage
      .cImageControl
        .cPreButton <
        .cNextButton >
  .cConnectionBox
    .cContent
      .cTitle
        h1 聯絡我們
        .cLine
      .cRemindBox
      remind 標註 * 者為必填
      form
        .cBox_1
          .cName 
            input( name="Name",placeholder="* 您的姓名或稱呼", maxlength="20") 
          .cPhone
            input(name="Phone",placeholder="* 您的聯絡電話")
          .cContactTime
            input(name="ContactTime",placeholder="您方便電話聯絡的時間")
          .cEmail        
            input(name="Email",placeholder="*您的 E-mail", maxlength="100")
        .cBox_2
          .cDemand
            textarea(name="Demand",placeholder="* 請輸入您的需求", maxlength="1000")
      .cSentButtom 送出資料
    .cSentSuccessImage
      .cLine_1
      .cLine_2
    .cSentSuccessText 我們已經收到您的來信，會盡快安排專員與您聯絡，謝謝您!
  .cIdeaBox
    .cBackgroundImage
    .cTitle
      h1 展望
      .cLine
    .cSloganBox
      info 建立甲、乙、丙夥伴關係的營建環境，提升勞動力美學。
      info 給業主的一句話：『貴的不一定好 俗的不容易好』
    .cMapBox
      .cMap
  .cFooterBox
    // JS 產生
  .cCopyrightBox
    // JS 產生