.cPageBody
  .cTopBox
    .cTopBar
      // JS 產生
    .cTopBar_phone
      // JS 產生
    .cBanner
      .cImage
        .cPreImage
        .cMainImage
        .cNextImage
      .cImageControl
        .cPreButton <
        .cNextButton >
  .cWinningRecordBox
    .cTitle
      h1 得獎紀錄
      .cLine
    .cTitleInfo
      .cMainInfo
        h3 自 2001 年起至今已獲得近 20 項獎項
    .cContent
      //.cConnectionLine
      .cRecordBox
        .cDataTemplate
          .cYearBox
            .cYearIcon
              .cInfoBox
                .cYear 2000
                .cInfo 年
            .cConnectionLine
              .cLine
          .cProjectBox
            .cProjectTemplate
              .cName 莫拉克颱風災後長期安置住宅重建桃源區樂樂段基地
              .cWinningName 獲 2015 國家卓越建設獎-卓越獎 (最佳環境文化類、社區營造空間類)

  .cFooterBox
    // JS 產生
  .cCopyrightBox
    // JS 產生