@charset "UTF-8";
/*--- Debug --- */
/*--- Debug End --- */
/*--- Release --- */
/*--- Release End --- */
* {
  font-family: "微軟正黑體";
}

html, body {
  margin: 0;
  padding: 0;
}

.cTopBox {
  height: calc( 100vw * 0.35 );
  width: 100%;
}
@media only screen and (max-width: 1040px) {
  .cTopBox {
    height: calc( 100vw * 0.65 );
  }
}
.cTopBox .cBanner {
  width: 100%;
  height: calc( 100vw * 0.3 );
  position: absolute;
  overflow: hidden;
  top: calc( 100vw * 0.05 );
}
@media only screen and (max-width: 1040px) {
  .cTopBox .cBanner {
    height: calc( 100vw * 0.6 );
  }
}
.cTopBox .cBanner .cImage {
  position: absolute;
  width: calc( 100vw * 3 );
  height: 100%;
  display: -webkit-box;
  display: flex;
  left: -100vw;
}
.cTopBox .cBanner .cImage .cPreImage {
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../Image/BuildCase/0_DemoCase/Show/0.jpg");
  border: 0px solid #000;
  padding: 0px;
  margin: 0px;
}
.cTopBox .cBanner .cImage .cMainImage {
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../Image/BuildCase/0_DemoCase/Show/0.jpg");
  border: 0px solid #000;
  padding: 0px;
  margin: 0px;
}
.cTopBox .cBanner .cImage .cNextImage {
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../Image/BuildCase/0_DemoCase/Show/0.jpg");
  border: 0px solid #000;
  padding: 0px;
  margin: 0px;
}
.cTopBox .cBanner .cImageControl {
  position: absolute;
  z-index: 1;
  bottom: calc( 100vw * 0.04 );
  right: calc( 100vw * 0.09 );
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 1040px) {
  .cTopBox .cBanner .cImageControl {
    bottom: calc( 100vw * 0.08 );
  }
}
.cTopBox .cBanner .cImageControl .cPreButton, .cTopBox .cBanner .cImageControl .cNextButton {
  width: calc( 100vw * 0.025 );
  height: calc( 100vw * 0.025 );
  background-color: #a0a0a0;
  border: 1px solid #a0a0a0;
  border-radius: 0px;
  font-size: calc( 100vw * 0.01 );
  font-weight: bold;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.cTopBox .cBanner .cImageControl .cPreButton:hover, .cTopBox .cBanner .cImageControl .cNextButton:hover {
  opacity: 0.7;
}
@media only screen and (max-width: 1040px) {
  .cTopBox .cBanner .cImageControl .cPreButton, .cTopBox .cBanner .cImageControl .cNextButton {
    width: calc( 100vw * 0.075 );
    height: calc( 100vw * 0.075 );
    font-size: calc( 100vw * 0.03 );
  }
}
.cTopBox .cBanner .cImageControl .cPreButton {
  margin-right: calc( 100vw * 0.002 );
}
@media only screen and (max-width: 1040px) {
  .cTopBox .cBanner .cImageControl .cPreButton {
    margin-right: calc( 100vw * 0.012 );
  }
}
.cTopBox .cBanner .cImageControl .cNextButton {
  margin-left: calc( 100vw * 0.002 );
}
@media only screen and (max-width: 1040px) {
  .cTopBox .cBanner .cImageControl .cNextButton {
    margin-left: calc( 100vw * 0.012 );
  }
}
.cTopBox .cBanner .cInfoBanner {
  position: absolute;
  z-index: 1;
  color: #fff;
  height: calc( 100vw * 0.015 );
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  bottom: calc( 100vw * 0.016 );
  right: calc( 100vw * 0.09 );
  font-size: calc( 100vw * 0.012 );
}
@media only screen and (max-width: 1040px) {
  .cTopBox .cBanner .cInfoBanner {
    font-size: calc( 100vw * 0.036 );
    height: calc( 100vw * 0.045 );
  }
}
.cTopBox .cBanner .cInfoBanner .cInfo {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  position: relative;
  top: calc( 0vw * 0.015 );
}
.cTopBox .cBanner .cInfoBanner .cInfo .cPreInfo, .cTopBox .cBanner .cInfoBanner .cInfo .cMainInfo, .cTopBox .cBanner .cInfoBanner .cInfo .cNextInfo {
  line-height: calc( 100vw * 0.014 );
  height: calc( 100vw * 0.015 );
}
@media only screen and (max-width: 1040px) {
  .cTopBox .cBanner .cInfoBanner .cInfo .cPreInfo, .cTopBox .cBanner .cInfoBanner .cInfo .cMainInfo, .cTopBox .cBanner .cInfoBanner .cInfo .cNextInfo {
    line-height: calc( 100vw * 0.042 );
    height: calc( 100vw * 0.045 );
  }
}

.cOriginInfoBox {
  width: 100%;
  background-color: #dddda7;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-bottom: calc( 100vw * 0.03 );
}
.cOriginInfoBox .cTitle {
  padding-top: calc( 100vw * 0.03 );
}
.cOriginInfoBox .cTitle h1 {
  font-size: calc( 100vw * 0.025 );
  margin: 0px;
}
@media only screen and (max-width: 1040px) {
  .cOriginInfoBox .cTitle h1 {
    font-size: calc( 100vw * 0.06 );
  }
}
.cOriginInfoBox .cTitle .cLine {
  margin-left: calc( 100vw * 0.005 );
  margin-top: calc( 100vw * 0.005 );
  width: calc( 100vw * 0.04 );
  border-bottom: 7px solid #008a3a;
}
@media only screen and (max-width: 1040px) {
  .cOriginInfoBox .cTitle .cLine {
    width: calc( 100vw * 0.11 );
  }
}
.cOriginInfoBox .cContent {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.cOriginInfoBox .cContent .cMainInfo {
  font-size: calc( 100vw * 0.0105 );
  line-height: calc( 100vw * 0.02 );
}
@media only screen and (max-width: 1040px) {
  .cOriginInfoBox .cContent .cMainInfo {
    font-size: calc( 100vw * 0.045 );
    line-height: calc( 100vw * 0.075 );
  }
}
.cOriginInfoBox .cContent .cMainInfo pre {
  white-space: pre-wrap;
  padding-left: calc( 100vw * 0.225 );
  padding-right: calc( 100vw * 0.225 );
}
@media only screen and (max-width: 1040px) {
  .cOriginInfoBox .cContent .cMainInfo pre {
    padding-left: calc( 100vw * 0.05 );
    padding-right: calc( 100vw * 0.05 );
  }
}
.cOriginInfoBox .cContent .cSlogan {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  font-size: calc( 100vw * 0.011 );
  line-height: calc( 100vw * 0.02 );
  font-weight: 600;
  color: #008a3a;
}
@media only screen and (max-width: 1040px) {
  .cOriginInfoBox .cContent .cSlogan {
    font-size: calc( 100vw * 0.045 );
    line-height: calc( 100vw * 0.08 );
  }
}
.cOriginInfoBox .cContent .cTimeline {
  margin-top: calc( 100vw * 0.04 );
  margin-left: calc( 100vw * 0.062 );
}
@media only screen and (max-width: 1040px) {
  .cOriginInfoBox .cContent .cTimeline {
    margin-top: calc( 100vw * 0.08 );
    margin-left: 0;
  }
}
.cOriginInfoBox .cContent .cTimeline .cA_Rank, .cOriginInfoBox .cContent .cTimeline .cB_Rank, .cOriginInfoBox .cContent .cTimeline .cC_Rank {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  font-size: calc( 100vw * 0.011 );
  line-height: calc( 100vw * 0.02 );
  font-weight: 600;
}
@media only screen and (max-width: 1040px) {
  .cOriginInfoBox .cContent .cTimeline .cA_Rank, .cOriginInfoBox .cContent .cTimeline .cB_Rank, .cOriginInfoBox .cContent .cTimeline .cC_Rank {
    font-size: calc( 100vw * 0.045 );
    line-height: calc( 100vw * 0.08 );
  }
}
.cOriginInfoBox .cContent .cTimeline .cA_Rank .cIcon, .cOriginInfoBox .cContent .cTimeline .cB_Rank .cIcon, .cOriginInfoBox .cContent .cTimeline .cC_Rank .cIcon {
  width: calc( 100vw * 0.012 );
  height: calc( 100vw * 0.012 );
  background-color: #fff;
  border: calc( 100vw * 0.005 );
  border-style: solid;
  border-color: #008a3a;
  border-radius: calc( 100vw * 0.015 );
  margin-right: calc( 100vw * 0.012 );
  margin-left: calc( 100vw * 0.01 );
}
@media only screen and (max-width: 1040px) {
  .cOriginInfoBox .cContent .cTimeline .cA_Rank .cIcon, .cOriginInfoBox .cContent .cTimeline .cB_Rank .cIcon, .cOriginInfoBox .cContent .cTimeline .cC_Rank .cIcon {
    width: calc( 100vw * 0.036 );
    height: calc( 100vw * 0.036 );
    border-radius: calc( 100vw * 0.060 );
    border: calc( 100vw * 0.01 );
    border-style: solid;
    border-color: #008a3a;
  }
}
.cOriginInfoBox .cContent .cTimeline .cLine {
  width: 1px;
  height: calc( 100vw * 0.06 );
  border-left: 2px dashed #008a3a;
  margin-top: calc( 100vw * 0.002 * -1 );
  margin-bottom: calc( 100vw * 0.002 * -1 );
  margin-left: calc( 100vw * 0.042 );
}
@media only screen and (max-width: 1040px) {
  .cOriginInfoBox .cContent .cTimeline .cLine {
    margin-left: calc( 100vw * 0.127 );
  }
}

.cIdeaBox {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-bottom: calc( 100vw * 0.04 );
}
.cIdeaBox .cBackgroundImage {
  background-image: url("../Image/About/0.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 110%;
  position: absolute;
  opacity: 0.1;
  z-index: -1;
}
.cIdeaBox .cTitle {
  padding-top: calc( 100vw * 0.03 );
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.cIdeaBox .cTitle h1 {
  font-size: calc( 100vw * 0.025 );
  margin: 0px;
}
@media only screen and (max-width: 1040px) {
  .cIdeaBox .cTitle h1 {
    font-size: calc( 100vw * 0.06 );
  }
}
.cIdeaBox .cTitle .cLine {
  margin-top: calc( 100vw * 0.005 );
  width: calc( 100vw * 0.04 );
  border-bottom: 7px solid #008a3a;
}
@media only screen and (max-width: 1040px) {
  .cIdeaBox .cTitle .cLine {
    width: calc( 100vw * 0.11 );
  }
}
.cIdeaBox .cContent {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.cIdeaBox .cContent .cInfoBox {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin-top: calc( 100vw * 0.03 );
}
@media only screen and (max-width: 1040px) {
  .cIdeaBox .cContent .cInfoBox {
    margin-top: calc( 100vw * 0.06 );
  }
}
.cIdeaBox .cContent .cInfoBox .cName {
  font-size: calc( 100vw * 0.014 );
  line-height: calc( 100vw * 0.03 );
  font-weight: 600;
  color: #008a3a;
}
@media only screen and (max-width: 1040px) {
  .cIdeaBox .cContent .cInfoBox .cName {
    font-size: calc( 100vw * 0.045 );
    line-height: calc( 100vw * 0.08 );
  }
}
.cIdeaBox .cContent .cInfoBox .cInfo {
  font-size: calc( 100vw * 0.012 );
  line-height: calc( 100vw * 0.02 );
}
@media only screen and (max-width: 1040px) {
  .cIdeaBox .cContent .cInfoBox .cInfo {
    font-size: calc( 100vw * 0.043 );
    line-height: calc( 100vw * 0.08 );
  }
}

.cFooterBox {
  margin-top: 0 !important;
}