.cPageBody
  .cTopBox
    .cTopBar
      // JS 產生
    .cTopBar_phone
      // JS 產生
    .cBanner
      .cImage
        .cPreImage
        .cMainImage
        .cNextImage
      .cImageControl
        .cPreButton <
        .cNextButton >
      .cInfoBanner
        .cInfo
          .cPreInfo 屏東縣獅子鄉楓林國小新建工程 | 2015
          .cMainInfo 日月潭向山行政暨迎客中心 | 2008
          .cNextInfo 墾丁國家公園管理處石牛溪公共設施工程 | 2015
  .cOriginBox
    .cLeftInfo
      .cTitle
        h1 緣起
        .cLine
      .cInfoBox
        .cText_1 1987年，總經理杜連印成立這家公司。除感念家人支持及前公司給予成長、成就，亦深感當時為人詬病之官商勾結、偷工減料、搓湯圓…等惡習籠罩業界，期待著同仁夥伴能成為改變並創造營造業春天的一員，故以華春營造命名。
        .cSlogan_1
          .cText 『如果你知道去哪 全世界都會為你讓路』
        .cSlogan_2
          .cText  感謝
        .cSlogan_3
          .cText 台灣 讓我們活著 讓我們築夢
      .cAboutButton 關於華春
    .cRightImage
      .cImage
  .cBuildCaseBox
    .cTitle
      h1 工程實績
      .cLine
      .cInfo 本公司自1987~業已完成200餘件工程
    .cBuildCaseSystem
      .cMainSearchBox
        .cBuildTypeButton 依工程類型
        .cAreaButton 依地區
        .cTimeButton 依時間
        .cMoneyButton 依金額
        .cWonderfulButton 精彩個案
      .cMainSearch_PhoneBox   
        select(name="MainSearch_Phone")
          option(value="BuildType") 依工程類型 
          option(value="Area") 依地區
          option(value="Time") 依時間
          option(value="Money") 依金額
          option(value="Wonderful") 精彩個案
      .cSubSearchBox_BuildType
        .cBuild_Button.cSubButtonBase
          .cImage
          data build
        .cLandscape_Button.cSubButtonBase
          .cImage
          data landscape
        .cPlant_Button.cSubButtonBase
          .cImage
          data plant
        .cDecoration_Button.cSubButtonBase
          .cImage
          data decoration
        .cTemple_Button.cSubButtonBase
          .cImage
          data temple
        .cWood_Button.cSubButtonBase
          .cImage
          data wood
        .cSport_Button.cSubButtonBase
          .cImage
          data sport
        .cHistoricSite_Button.cSubButtonBase
          .cImage
          data historicSite
        .cGreenbuild_Button.cSubButtonBase
          .cImage
          data greenbuild
        .cCement_Button.cSubButtonBase
          .cImage
          data cement
        .cAll_Button.cSubButtonBase
          .cImage
          data all
      .cSubSearchBox_Area
        .cNorthBox.cSubButtonBase
          .cArea_Button 北部地區
            data 北部地區
          .SubAreaBox
            .cTaipei_Button.cAreaBase 台北
              data 台北
            .cTaoyuan_Button.cAreaBase 桃園
              data 桃園
            .cHsinchu_Button.cAreaBase 新竹
              data 新竹
        .cCentralBox.cSubButtonBase
          .cArea_Button 中部地區
            data 中部地區
          .SubAreaBox
            .cMiaoli_Button.cAreaBase 苗栗
              data 苗栗
            .cTaichung_Button.cAreaBase 台中
              data 台中
            .cChanghua_Button.cAreaBase 彰化
              data 彰化
            .cNantou_Button.cAreaBase 南投
              data 南投
            .cYunlin_Button.cAreaBase 雲林
              data 雲林
        .cSouthBox.cSubButtonBase
          .cArea_Button 南部地區
            data 南部地區
          .SubAreaBox
            .cChiayi_Button.cAreaBase 嘉義
              data 嘉義
            .cTainan_Button.cAreaBase 台南
              data 台南
            .cKaohsiung_Button.cAreaBase 高雄
              data 高雄
            .cPingtung_Button.cAreaBase 屏東
              data 屏東
        .cEastBox.cSubButtonBase
          .cArea_Button 東部地區
            data 東部地區
          .SubAreaBox
            .cYilan_Button.cAreaBase 宜蘭
              data 宜蘭
            .cHualien_Button.cAreaBase 花蓮
              data 花蓮
            .cTaitung_Button.cAreaBase 台東
              data 台東
        .cIslandBox.cSubButtonBase
          .cArea_Button 外島地區
            data 外島地區
          .SubAreaBox
            .cPenghu_Button.cAreaBase 澎湖
              data 澎湖
            .cLittleRyukyu_Button.cAreaBase 小琉球
              data 小琉球
            .cKinmen_Button.cAreaBase 金門
              data 金門
            .cMazu_Button.cAreaBase 馬祖
              data 馬祖
            .cLanyu_Button.cAreaBase 蘭嶼
              data 蘭嶼
            .cGreenIsland_Button.cAreaBase 綠島
              data 綠島
        .cAll_Button.cSubButtonBase
          .cArea_Button 全部
            data 全部
      .cSubSearchBox_Time
        .cNearToFar_Button
          .cImage
          data NearToFar
        .cFarToNear_Button
          .cImage
          data FarToNear
        //.cAll_Button
          .cImage
      .cSubSearchBox_Phone_Area
        select(name="SubSearchBox_Area")
          option(value="台北") 台北 
          option(value="桃園") 桃園
          option(value="新竹") 新竹
          option(value="苗栗") 苗栗
          option(value="台中") 台中
          option(value="彰化") 彰化
          option(value="南投") 南投
          option(value="雲林") 雲林
          option(value="嘉義") 嘉義
          option(value="台南") 台南
          option(value="高雄") 高雄
          option(value="屏東") 屏東
          option(value="宜蘭") 宜蘭
          option(value="花蓮") 花蓮
          option(value="花蓮") 花蓮
          option(value="台東") 台東
          option(value="澎湖") 澎湖
          option(value="澎湖") 澎湖
          option(value="小琉球") 小琉球
          option(value="金門") 金門
          option(value="馬祖") 馬祖
          option(value="蘭嶼") 蘭嶼
          option(value="綠島") 綠島
          option(value="all") 全部
      .cSubSearchBox_Money
        .c1000_Button.cSubButtonBase
          .cImage
          data 500
        .c1000-2500_Button.cSubButtonBase
          .cImage
          data 1000
        .c2500-5000_Button.cSubButtonBase
          .cImage
          data 2500
        .c5000-10000_Button.cSubButtonBase
          .cImage
          data 5000
        .c10000_Button.cSubButtonBase
          .cImage
          data 10000
        .cAll_Button.cSubButtonBase
          .cImage
          data all
      .cSubSearchBox_Wonderful
        .cWonderful_Button
          .cImage
          data yes
      .cNoCaseInfoBox
        .cInfoBox
          data 尚無建案，敬請期待
      .cBuildCaseSlideBox
        .cPreImage
          .cShowBuildCaseBox
            .cItemTemplate
              data 0_0
              .cImage
                .cDetaiInfo
                  .cDetaiInfoBox
                    .cTitle
                      h1 日月潭國家風景區管理處向山行政中心新建工程
                    .cStartYear
                      .cInfo 開工年度 :
                      detaiData 民國97年
                    .cFinishYear
                      .cInfo 完工年度 :
                      detaiData 民國98年
                    .cBoss
                      .cInfo 業&nbsp &nbsp &nbsp &nbsp主 :
                      detaiData 交通部觀光局日月潭國家風景區管理處
                    .cDesign
                      .cInfo 設計單位 :
                      detaiData 株式會社 團紀彥建築設計事務所
                  .cMap
        .cMainImage
          .cShowBuildCaseBox
            .cItemTemplate
              data 0_0
              .cImage
                .cDetaiInfo
                  .cDetaiInfoBox
                    .cTitle
                      h1 日月潭國家風景區管理處向山行政中心新建工程
                    .cStartYear
                      .cInfo 開工年度 :
                      detaiData 民國97年
                    .cFinishYear
                      .cInfo 完工年度 :
                      detaiData 民國98年
                    .cBoss
                      .cInfo 業&nbsp &nbsp &nbsp &nbsp主 :
                      detaiData 交通部觀光局日月潭國家風景區管理處
                    .cDesign
                      .cInfo 設計單位 :
                      detaiData 株式會社 團紀彥建築設計事務所
                  .cMap
        .cNextImage
          .cShowBuildCaseBox
            .cItemTemplate
              data 0_0
              .cImage
                .cDetaiInfo
                  .cDetaiInfoBox
                    .cTitle
                      h1 日月潭國家風景區管理處向山行政中心新建工程
                    .cStartYear
                      .cInfo 開工年度 :
                      detaiData 民國97年
                    .cFinishYear
                      .cInfo 完工年度 :
                      detaiData 民國98年
                    .cBoss
                      .cInfo 業&nbsp &nbsp &nbsp &nbsp主 :
                      detaiData 交通部觀光局日月潭國家風景區管理處
                    .cDesign
                      .cInfo 設計單位 :
                      detaiData 株式會社 團紀彥建築設計事務所
                  .cMap

      .cPageControlBox
        .cPreButton <
        .cPageBox
          .cPageTemplate 0
        .cNextButton >
            
  .cFooterBox
    // JS 產生
  .cCopyrightBox
    // JS 產生