@charset "UTF-8";
/*--- Debug ---*/
/*--- Debug End ---*/
/*--- Release --- */
/*--- Release End --- */
* {
  font-family: "微軟正黑體";
}

.cTopBar {
  position: fixed;
  top: 0px;
  display: flex;
  height: calc( 100vw * 0.05 );
  width: 100%;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 1040px) {
  .cTopBar {
    display: none;
  }
}
.cTopBar .cLogo {
  margin-right: auto;
  display: flex;
  cursor: pointer;
  width: 20%;
  margin-left: 9%;
}
.cTopBar .cLogo .cImage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cTopBar .cLogo .cImage img {
  width: 100%;
  display: block;
}
.cTopBar .cAbout, .cTopBar .cBuildCase, .cTopBar .cWinningRecord, .cTopBar .cExperience, .cTopBar .cConnection {
  height: 100%;
  color: #646464;
  font-size: calc( 100vw * 0.007 );
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  cursor: pointer;
  padding-left: calc( 100vw * 0.013 );
  padding-right: calc( 100vw * 0.013 );
  display: flex;
  align-items: center;
  justify-content: center;
}
.cTopBar .cAbout:hover, .cTopBar .cBuildCase:hover, .cTopBar .cWinningRecord:hover, .cTopBar .cExperience:hover, .cTopBar .cConnection:hover {
  background-color: #008a3a;
  color: #fff;
}
.cTopBar .cConnection {
  margin-right: 8%;
}

.cTopBar_phone {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
@media only screen and (max-width: 1040px) {
  .cTopBar_phone {
    display: block;
  }
}
.cTopBar_phone .cText {
  position: absolute;
  top: calc( 100vw * 0.03 );
  left: 25%;
  width: 50%;
  z-index: 9;
}
.cTopBar_phone .cText img {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
}
.cTopBar_phone .cMenu {
  z-index: 10;
}
.cTopBar_phone .cMenu .cShowButton {
  height: 60px;
  width: 70px;
  margin-top: calc( 100vw * 0.03 );
  margin-left: calc( 100vw * 0.03 );
  cursor: pointer;
}
.cTopBar_phone .cMenu .cShowButton .cLine1, .cTopBar_phone .cMenu .cShowButton .cLine2, .cTopBar_phone .cMenu .cShowButton .cLine3 {
  border: 3.5px solid #FFF;
  background-color: #fff;
  margin-top: 15px;
}
.cTopBar_phone .cMenu ul {
  height: 0px;
  width: 100%;
  font-size: calc( 100vw * 0.06 );
  border-radius: 30px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  list-style: none;
  box-shadow: 3px 3px 15px #000;
  padding: 0px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: 30px;
  margin-bottom: 0px;
}
.cTopBar_phone .cMenu ul li {
  height: 0px;
  padding: 0px;
  font-size: calc( 100vw * 0.06 );
  text-align: center;
}
.cTopBar_phone .cMenu ul li:hover {
  background-color: #00b9fc;
}

.cFooterBox {
  margin-top: calc( 100vw * 0.038 );
  background-color: #f4f4f4;
  height: calc( 100vw * 0.13 );
}
@media only screen and (max-width: 1040px) {
  .cFooterBox {
    height: calc( 100vw * 1.0 );
    padding-top: calc( 100vw * 0.038 );
    padding-left: calc( 100vw * 0.038 );
  }
}
.cFooterBox .cLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc( 100vw * 0.075 );
}
.cFooterBox .cInfoBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 1040px) {
  .cFooterBox .cInfoBox {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
}
.cFooterBox .cInfoBox .cDivider {
  height: calc( 100vw * 0.019 );
  border-right: 2px solid #4d4d4d;
}
@media only screen and (max-width: 1040px) {
  .cFooterBox .cInfoBox .cDivider {
    display: none;
  }
}
.cFooterBox .cInfoBox .cAddress, .cFooterBox .cInfoBox .cPhone, .cFooterBox .cInfoBox .cFax, .cFooterBox .cInfoBox .cEmail, .cFooterBox .cInfoBox .cContact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: calc( 100vw * 0.02 );
  margin-right: calc( 100vw * 0.02 );
  color: #4d4d4d;
  font-size: calc( 100vw * 0.009 );
}
@media only screen and (max-width: 1040px) {
  .cFooterBox .cInfoBox .cAddress, .cFooterBox .cInfoBox .cPhone, .cFooterBox .cInfoBox .cFax, .cFooterBox .cInfoBox .cEmail, .cFooterBox .cInfoBox .cContact {
    font-size: calc( 100vw * 0.036 );
    margin-top: calc( 100vw * 0.06 );
  }
}
.cFooterBox .cInfoBox .cAddress .cText, .cFooterBox .cInfoBox .cPhone .cText, .cFooterBox .cInfoBox .cFax .cText, .cFooterBox .cInfoBox .cEmail .cText, .cFooterBox .cInfoBox .cContact .cText {
  line-height: calc( 100vw * 0.015 );
}
@media only screen and (max-width: 1040px) {
  .cFooterBox .cInfoBox .cAddress .cText, .cFooterBox .cInfoBox .cPhone .cText, .cFooterBox .cInfoBox .cFax .cText, .cFooterBox .cInfoBox .cEmail .cText, .cFooterBox .cInfoBox .cContact .cText {
    line-height: calc( 100vw * 0.060 );
  }
}
.cFooterBox .cInfoBox .cAddress .cImageBox, .cFooterBox .cInfoBox .cPhone .cImageBox, .cFooterBox .cInfoBox .cFax .cImageBox, .cFooterBox .cInfoBox .cEmail .cImageBox, .cFooterBox .cInfoBox .cContact .cImageBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc( 100vw * 0.02 );
  height: calc( 100vw * 0.03 );
  margin-right: calc( 100vw * 0.005 );
}
@media only screen and (max-width: 1040px) {
  .cFooterBox .cInfoBox .cAddress .cImageBox, .cFooterBox .cInfoBox .cPhone .cImageBox, .cFooterBox .cInfoBox .cFax .cImageBox, .cFooterBox .cInfoBox .cEmail .cImageBox, .cFooterBox .cInfoBox .cContact .cImageBox {
    width: calc( 100vw * 0.08 );
    height: calc( 100vw * 0.12 );
    margin-right: calc( 100vw * 0.050 );
  }
}
.cFooterBox .cInfoBox .cAddress .cImageBox .cImage, .cFooterBox .cInfoBox .cPhone .cImageBox .cImage, .cFooterBox .cInfoBox .cFax .cImageBox .cImage, .cFooterBox .cInfoBox .cEmail .cImageBox .cImage, .cFooterBox .cInfoBox .cContact .cImageBox .cImage {
  width: 100%;
  height: 80%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.cFooterBox .cInfoBox .cAddress .cImage {
  background-image: url("../Image/Icon/Footer/Address.svg");
}
.cFooterBox .cInfoBox .cPhone .cImage {
  background-image: url("../Image/Icon/Footer/Phone.svg");
}
.cFooterBox .cInfoBox .cFax .cImage {
  background-image: url("../Image/Icon/Footer/FAX.svg");
}
.cFooterBox .cInfoBox .cEmail .cImage {
  background-image: url("../Image/Icon/Footer/Email.svg");
}
.cFooterBox .cInfoBox .cContact {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.cFooterBox .cInfoBox .cContact .cImage {
  background-image: url("../Image/Icon/Footer/Contact.svg");
}

.cCopyrightBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc( 100vw * 0.04 );
  background-color: #008a3a;
  color: #fff;
  font-size: calc( 100vw * 0.0085 );
}
@media only screen and (max-width: 1040px) {
  .cCopyrightBox {
    font-size: calc( 100vw * 0.0340 );
    height: calc( 100vw * 0.16 );
  }
}